.player {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  border-radius: 0.5rem;
  background-color: #0003;
  color: #fff;
}

.player > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 1rem;
}

.player input[type='range'] {
  width: calc(100% - 2rem - 16px);
  color: inherit;
  background: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  margin-left: auto;
  margin-right: auto;
}
.player input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #4285f4;
  border-radius: 2px;
  cursor: pointer;
}
.player input[type='range']::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: currentColor;
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -8px;
  margin-top: -6px;
}

.player button {
  height: 2rem;
  width: 3rem;
  border: none;
  background: transparent;
  color: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.25rem;
}

.player button.seek {
  border: 1px solid currentColor;
  font-size: 0.875em;
  border-radius: 1.25rem;
}
.player button:focus {
  box-shadow: 0 0px 0px 2px #4285f4;
  outline: none;
}

.player span {
  display: inline-block;
  width: 9ch;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 100;
}

.player [disabled] {
  opacity: 0.25;
}

.player-seek {
  position: fixed;
  visibility: hidden;
  left: 50%;
  bottom: 10rem;
  transform: translateX(-50%);
  background: #0009;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  font-variant-numeric: tabular-nums;
}

.player-seek-time {
  font-size: 1.5rem;
}

.player-seek-diff {
  font-size: 0.875rem;
  opacity: 0.75;
}
