.topbar {
  color: #fff;
  background: #222;
  padding: 1rem;
}

.topbar [data-id='start'] {
  text-align: center;
}
.topbar [data-id='folder'] {
  font-weight: bold;
}
.topbar [data-id='path'] {
  font-style: italic;
  font-size: 0.875em;
  opacity: 0.75;
}
